.p(@p,@t,@r,@b,@l) {
  position: @p;
  top:@t;
  right:@r;
  bottom:@b;
  left:@l;
}
.hov() {
  color:#fff;
  background-color:#666;
  opacity: 0.5;
}
.h(@h) {
  height: @h;
  line-height: @h;
}
body {
  font-family: arial;
  margin: 0;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  #app {
    .p(absolute,0,0,0,0);
    width:100%;
    height:100%;
    border-collapse:collapse;
    .bcw {
      background-color:#fff;
    }
    .app {
      width:320px;
      height:480px;
      #map { 
        position: absolute;
        top:0;
        z-index: -1;
        border-collapse:collapse;
        td {
          padding:0;
        }
        &.a { height: 1600px; width: 1600px; }
        &.b { height: 1600px; width: 3200px; }
        &.c { height: 3200px; width: 1600px; }
        &.d { height: 3200px; width: 3200px; }
        .map {
          width:1600px;
          width:1600px;
          float: left;
          .row {
            width: 1600px;
            height: 64px;
            .col {
              width: 64px;
              height: 64px;
              float: left;
              &.tile-0 {
                background-color: #01a611;
              }
              &.tile-1 {
                background-color: #228b22;
              }
              &.tile-2 {
                background-color: #555c45;
              }
              &.tile-3 {
                background-color: #573b0c;
              }
              &.tile-4 {
                background-color: #0063ce;
              }
            }
          }
        }
      }
      #nav {
        .p(absolute,0,auto,auto,auto);
        height: 480px;
        width: 320px;
        z-index: 2;
        #name {
          .p(absolute,0,auto,auto,0);
          background-color: #666;
          color: #fff;
          padding:0.25em;
        }
        #lvl {
          .p(absolute,0,0,auto,auto);
          background-color: #666;
          color: #fff;
          padding:0.25em;
        }
        #user {
          z-index: 1;
          .p(absolute,128px,auto,auto,128px);
          width:64px;
          .h(64px);
          font-family: Comic Sans MS;
          font-size: 32px;
          text-align: center;
          color: #fff;
          &.u {
            width: 64px;
            height: 64px;
            background: url('sprite.png') 0 0;
          }
          &.l {
            width: 64px;
            height: 64px;
            background: url('sprite.png') -64px -64px;
          }
          &.u::before { content: "\25b3"; }
          &.l::before { content: "\25c1"; }
          &.d::before { content: "\25bd"; }
          &.r::before { content: "\25b7"; }
        }
        #loc {
          font-family:monospace;
          .p(absolute,auto,0,160px,auto);
          background-color: #666;
          color: #fff;
          padding:0.25em;
          opacity:0.25;
        }
        .nav {
          &:hover { .hov(); }
          color: #fff;
          cursor: pointer;
          text-align:center;
          font-family: Comic Sans MS;
          &.l {
            &::before { content: "\25c1"; }
            .p(absolute,96px,auto,auto,0);
            .h(128px);
            width: 96px;
          }
          &.u {
            &::before { content: "\25b3"; }
            .p(absolute,0,auto,auto,96px);
            .h(96px);
            width: 128px;
          }
          &.r {
            &::before { content: "\25b7"; }
            .p(absolute,96px,0,auto,auto);
            .h(128px);
            width: 96px;
          }
          &.d {
            &::before { content: "\25bd"; }
            .p(absolute,224px,auto,auto,96px);
            .h(96px);
            width: 128px;
          }
        }
        #act {
          .p(absolute,auto,auto,-2px,-2px);
          width: 324px;
          height: 162px;
          .act {
            &:hover { .hov(); }
            margin: 16px;
            font-size: 64px;
            cursor: pointer;
            width: 128px;
            .h(128px);
            text-align: center;
            float: left;
            border:1px solid black;
          }
        }
      }
    }
  }
}
